@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');


*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/quiz/quiz.png);
    background-position: center;
    background-size: cover;
    color: black;
}

.tab{
    font-weight: bold;
}
.container{
    text-align: center;
}
.margin-bottom{
    margin-bottom: 2.5rem;
}
.pb{
    padding-bottom: 10px;
}
.pt{
    padding-top: 3rem;
}


/* nav style */
.nav-heading{
    padding-left: 1rem;
    padding-top: 5px;
}
.navbar{
    background-color: #00BF8F;
    color: white;
    max-width: 100vw;
    border-bottom-left-radius: 16px;   
}
nav ul{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 10px;
}   
 .non-bullet{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    padding-right: 25px;
    color: white;
    font-size: 20px;
}
#submit-btn{
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #00BF8F;
    border-radius: 8px;
}
#submit-btn:hover{
    background-color: #56ffd5;
}
/* footer */ 
.mb{
    margin-bottom: 1rem;
}
.mt{
    margin-top: 2.1rem;
}
.inline{
    display: flex;
    justify-content: center;    
}
.non-bullet{
    list-style: none;
}
footer{
    background-color: #00BF8F;
    padding-top: 0.12px;
    border-top-left-radius: 20px;
    margin-top: 3.7rem;
}
